<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-[#5271FF]  print:hidden"
    [appearance]="navigationAppearance"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader class="mt-[5rem]">
        <!-- Logo -->
        <div class="flex items-center justify-center h-20">
            <img
                class="w-16 h-16 "
                src="assets/images/logo/white.jpeg"
                alt="Logo image">
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div class="relative flex items-center w-full h-16 px-4 shadow flex-0 md:px-6 z-49 dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <div class="flex items-center pr-2 space-x-2">
            <!-- Navigation toggle button -->
            <button
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')">
                <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
            </button>
            <!-- Navigation appearance toggle button -->
            <!-- <button
                class="hidden md:inline-flex"
                mat-icon-button
                (click)="toggleNavigationAppearance()">
                <mat-icon [svgIcon]="'heroicons_outline:arrows-right-left'"></mat-icon>
            </button> -->
        </div>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">

            <div class="flex items-center justify-between space-x-2">
                <div (click)="profileOptions($event)" class="flex flex-col items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" fill="none" class="flex items-center">
                    <g id="SVGRepo_iconCarrier">
                      <path d="M8 7C9.65685 7 11 5.65685 11 4C11 2.34315 9.65685 1 8 1C6.34315 1 5 2.34315 5 4C5 5.65685 6.34315 7 8 7Z" fill="#5271FF"></path>
                      <path d="M14 12C14 10.3431 12.6569 9 11 9H5C3.34315 9 2 10.3431 2 12V15H14V12Z" fill="#5271FF"></path>
                    </g>
                  </svg>
                </div>
                <div *ngIf="isShowen" class="absolute right-0 z-40 w-48 mt-2 origin-top-right bg-white rounded-md shadow-lg top-12 ring-1 ring-black ring-opacity-5 focus:outline-none">
                  <a href="" routerLink="/user/profile" class="block px-4 py-2 text-gray-800 hover:text-[#2E849D] ">Paramètres profil</a>
                  <a (click)="logout()" class="block hover:cursor-pointer px-4 py-2 text-gray-800 hover:text-[#2E849D] ">Déconnexion</a>
                </div>
              </div>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto ">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="relative items-center justify-start hidden w-full px-4 border-t md:flex flex-0 h-14 md:px-6 z-49 bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">ReviseMate &copy; {{currentYear}}</span>
    </div>

</div>

<!-- Quick chat -->

