
<div class="w-full h-fit">

    <section class="bg-[#FCF8F1] bg-opacity-30 py-10 sm:py-16 lg:py-22">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid items-center grid-cols-1 lg:gap-[15rem] md:grid-cols-2">
                <div class="">
                    <h1 class=" md:w-[40rem] mb-4 text-4xl  text-[#5271FF] font-bold leading-none tracking-tight md:text-[3.5rem]  lg:text-[2.7rem] dark:text-white">
                        Optimisez votre apprentissage avec ReviseMate
                    </h1>
                    <p class="mt-4 text-base text-gray-400 lg:mt-2 sm:text-xl">
                        Transformez vos cours en fiches synthétiques, créez des cartes mémoire et testez vos connaissances avec des quiz personnalisés. Révisions intelligentes, résultats garantis !                    </p>
                    <button routerLink="/user" class="px-6 lg:mt-2 py-3 w-fit lg:w-fit text-center flex justify-center items-center font-semibold
                     text-white bg-[#5271FF] uppercase hover:bg-opacity-80 mt-5 mb-10">
                     Commencer
                    </button>

                </div>
                <div>
                    <img class="w-[35rem] h-auto" src="assets/images/ui/sections/heroSection.png" alt="Cooking Image">
                </div>
            </div>
        </div>


    </section>
</div>
