<!-- Conteneur principal -->
<div class="flex items-center justify-center gap-6 mt-6">
  <!-- Barre de recherche -->
  <input type="text" placeholder="Rechercher..." class="p-3 bg-white border border-gray-300 rounded-lg w-80 focus:outline-none focus:ring-2 focus:ring-blue-500">

  <!-- Boutons à côté de la barre de recherche -->
  <div class="flex gap-4">
    <button routerLink="/user/import" class="px-6 py-3 text-white bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Importer un cours</button>
    <button  routerLink="/user/fiches/create" class="px-6 py-3 text-white bg-green-500 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500">Créer une fiche</button>
    <button routerLink="/user/quiz/create" class="px-6 py-3 text-white bg-yellow-500 rounded-lg hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-500">Créer un quiz</button>
    <button  routerLink="/user/cartes/create" class="px-6 py-3 text-white bg-purple-500 rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500">Créer une carte mémoire</button>
<br>

    <button  routerLink="/user/passer-quiz" class="px-6 py-3 text-white bg-purple-500 rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500"> passer quiz</button>
    <button  routerLink="/user/reviser-carte" class="px-6 py-3
     text-white bg-purple-500 rounded-lg
      hover:bg-purple-700 focus:outline-none
      focus:ring-2 focus:ring-purple-500">reviser quiz</button>
  </div>
</div>



