<div class="flex flex-col items-center justify-center p-6 mt-5">

    <button routerLink="/user/fiches/create"
        class="relative flex items-center justify-center px-6 py-3 mb-4 text-lg font-semibold text-blue-700 transition-all duration-300 bg-blue-100 border border-blue-400 rounded-full shadow-lg ">
        <mat-icon>add</mat-icon>
        Créer une fiche
    </button>
    <div class="flex items-center justify-center w-full">
        <h1>{{message}}</h1>
    </div>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">

        <div *ngFor="let fiche of fiches" class="service-card w-[300px] border-2 border-[#5271FF] shadow-2xl cursor-pointer
            snap-start shrink-0 py-8 px-6 bg-white transition-all duration-300 group
            hover:scale-105 hover:shadow-2xl flex flex-col gap-4 rounded-2xl relative"
          >

            <button (click)="deleteFiche(fiche._id)"
                class="absolute p-1 text-[#5271FF] top-2 right-2 hover:text-[#5271FF]">
                <span class="material-icons">delete</span>
            </button>

            <div class="flex items-center gap-2">
                <img src="assets/icons/fiche.png" alt="clipboard" class="w-13 h-13">
                <h2 class="text-lg font-bold text-black/80">{{ fiche.titre }}</h2>
            </div>

            <p class="text-sm text-gray-600" [innerHTML]="truncateText(fiche.contenu, 100)"></p>
            <div class="flex items-center justify-between gap-4">
                <p class="text-xs text-gray-500">
                    📅 {{ fiche.date_creation | date:'dd/MM/yyyy HH:mm' }}
                </p>
                <button   routerLink="/user/fiches/{{ fiche._id }}"
                    class="px-6 py-2 text-sm font-semibold text-blue-700 bg-blue-100 border border-blue-400 rounded-full w-fit">
                  Modifier
                </button>
            </div>


        </div>
    </div>
</div>
