<div class="flex flex-col items-center justify-center h-screen text-center bg-gray-100">
    <h1 class="mb-4 text-6xl font-bold text-red-600">403</h1>
    <h2 class="mb-2 text-3xl font-semibold text-gray-800">Accès refusé</h2>
    <p class="mb-6 text-lg text-gray-600">
      Vous n'avez pas l'autorisation d'accéder à cette page.
    </p>
    <button
        routerLink="/user"
        class=" px-5 py-2.5 border-2  border-[#5271FF] text-[#5271FF] rounded-[0.3rem]   mr-2"
        >
      Retour à l'accueil
    </button>
  </div>
