<div class="flex items-center justify-center p-6 mt-5">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4 ">
        <div *ngFor="let quiz of quizs" class="service-card  w-[300px] border-2 border-[#5271FF]
        shadow-2xl cursor-pointer snap-start shrink-0 py-15 px-6 bg-white flex flex-col gap-4 rounded-2xl transition-all duration-300 group">

            <!-- Icône en haut à gauche -->
            <div class="flex items-center gap-2">
          <img src="assets/icons/fiche.png" alt="clipboard" class="w-13 h-13">
                <h2 class="text-lg font-bold text-black/80">{{ quiz.titre }}</h2>
            </div>

            <p class="text-xs text-gray-500">
                {{ quiz.type  }}
            </p>

            <p class="text-xs text-gray-500">
                {{ quiz.date_score | date:'dd/MM/yyyy HH:mm' }}
            </p>

        </div>
    </div>
</div>
