<header>
    <nav class="z-50 w-full bg-white ">
        <div class="container flex items-center justify-between m-auto">
            <div class="flex-shrink-0">
                <a href="#" title="" class="flex">
                    <img class="w-[6.4rem] h-[4rem] max-w-full" src="assets/logos/logo.png" alt="Dish Logo" />
                </a>
            </div>
            <!-- Main Menu for Large Screens -->
            <ul class="items-center hidden pr-10 text-base text-black cursor-pointer lg:flex">
                <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
                    <a>Accueil </a>
                </li>
                <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
                    <a>À propos </a>
                </li>
                <li class="px-6 py-4 duration-500 underlineHover">
                    <a>Nos services </a>
                </li>
                <li class="px-6 py-4 duration-500 underlineHover">
                    <a>Contact </a>
                </li>

            </ul>


            <div class="flex gap-2">

                <button [routerLink]="'sign-up'"
                    class=" px-5 py-2.5 border-2 hidden lg:flex border-[#5271FF] text-[#5271FF] rounded-[0.3rem]   mr-2">
                    S'inscrire
                </button>

                <button [routerLink]="'sign-in'"
                    class=" px-5 py-2.5  hidden lg:flex   bg-[#5271FF] rounded-[0.3rem] text-white mr-2">
                    Se connecter
                </button>
            </div>


            <!-- Mobile Menu Button -->
            <button class="lg:hidden group">
                <mat-icon class="mr-2">menu</mat-icon>
                <!-- Mobile Menu -->
                <div
                    class="absolute top-0 z-40 flex flex-col items-center justify-center w-8/12 h-screen ml-auto transition-all duration-500 bg-[#5271FF] md:w-5/12 right-full group-focus:right-0">
                    <ul class="flex flex-col items-center w-full text-base font-semibold text-white cursor-pointer">
                        <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
                            <a>Accueil</a>
                        </li>
                        <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
                            <a (click)="('about')">À Propos</a>
                        </li>
                        <li class="px-6 py-4 duration-500 underlineHover">
                            <a (click)="('projects')">Nos services </a>
                        </li>
                        <li class="px-6 py-4 duration-500 underlineHover">
                            <a (click)="('contacts')">Contact</a>
                        </li>
                        <li class="px-6 py-4 duration-500 underlineHover" [routerLink]="'sign-up'">
                            <a (click)="('contacts')"> S'inscrire</a>
                        </li>
                        <li class="px-6 py-4 duration-500 underlineHover"  [routerLink]="'sign-in'">
                            <a (click)="('contacts')"> Se connecter</a>
                        </li>

                    </ul>

                </div>
            </button>
        </div>
    </nav>
</header>
